html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.small-loader .icon{
    position: relative;
    top: -15px;
    right: -12px;
    height: 75px;
    width: 100px;
    float: left;
}

.widget-user .widget-user-header {
    height: 66px;
}


:root {
    --duration: 1.5s;
    --container-size: 165px;
    --loader-size: 25px;
    --loader-border-radius: 15%;
}

.loader-wrapper {
    width: var(--container-size);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 10;
}

.loader {
    width: var(--loader-size);
    height: var(--loader-size);
    position: relative;
    display: block;
    -webkit-transform-origin: -50% center;
    transform-origin: -50% center;
    border-radius: var(--loader-border-radius);
}
.loader:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: lightblue;
    border-radius: var(--loader-border-radius);
    loader-shadow: 0px 0px 10px 0px rgba(28, 159, 255, 0.4);
}
.loader:nth-child(1) {
    -webkit-animation: slide var(--duration) ease-in-out infinite alternate;
    animation: slide var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(1):after {
    -webkit-animation: color-change var(--duration) ease-in-out infinite alternate;
    animation: color-change var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(2) {
    -webkit-animation: flip-1 var(--duration) ease-in-out infinite alternate;
    animation: flip-1 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(2):after {
    -webkit-animation: squidge-1 var(--duration) ease-in-out infinite alternate;
    animation: squidge-1 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(3) {
    -webkit-animation: flip-2 var(--duration) ease-in-out infinite alternate;
    animation: flip-2 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(3):after {
    -webkit-animation: squidge-2 var(--duration) ease-in-out infinite alternate;
    animation: squidge-2 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(4) {
    -webkit-animation: flip-3 var(--duration) ease-in-out infinite alternate;
    animation: flip-3 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(4):after {
    -webkit-animation: squidge-3 var(--duration) ease-in-out infinite alternate;
    animation: squidge-3 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(5) {
    -webkit-animation: flip-4 var(--duration) ease-in-out infinite alternate;
    animation: flip-4 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(5):after {
    -webkit-animation: squidge-4 var(--duration) ease-in-out infinite alternate;
    animation: squidge-4 var(--duration) ease-in-out infinite alternate;
}
.loader:nth-child(2):after {
    background-color: #1C9FFF;
}
.loader:nth-child(3):after {
    background-color: #1FB1FD;
}
.loader:nth-child(4):after {
    background-color: #22C7FB;
}
.loader:nth-child(5):after {
    background-color: #23D3FB;
}

@-webkit-keyframes slide {
    0% {
        background-color: #1795FF;
        -webkit-transform: translatex(0vw);
        transform: translatex(0vw);
    }
    100% {
        background-color: #23D3FB;
        -webkit-transform: translatex(calc(var(--container-size) - (var(--loader-size) * 1.25)));
        transform: translatex(calc(var(--container-size) - (var(--loader-size) * 1.25)));
    }
}

@keyframes slide {
    0% {
        background-color: #1795FF;
        -webkit-transform: translatex(0vw);
        transform: translatex(0vw);
    }
    100% {
        background-color: #23D3FB;
        -webkit-transform: translatex(calc(var(--container-size) - (var(--loader-size) * 1.25)));
        transform: translatex(calc(var(--container-size) - (var(--loader-size) * 1.25)));
    }
}
@-webkit-keyframes color-change {
    0% {
        background-color: #1795FF;
    }
    100% {
        background-color: #23D3FB;
    }
}
@keyframes color-change {
    0% {
        background-color: #1795FF;
    }
    100% {
        background-color: #23D3FB;
    }
}
@-webkit-keyframes flip-1 {
    0%, 15% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    35%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes flip-1 {
    0%, 15% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    35%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@-webkit-keyframes squidge-1 {
    5% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    15% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    25%, 20% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    55%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    40% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@keyframes squidge-1 {
    5% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    15% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    25%, 20% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    55%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    40% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@-webkit-keyframes flip-2 {
    0%, 30% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes flip-2 {
    0%, 30% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    50%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@-webkit-keyframes squidge-2 {
    20% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    30% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    40%, 35% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    70%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    55% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@keyframes squidge-2 {
    20% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    30% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    40%, 35% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    70%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    55% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@-webkit-keyframes flip-3 {
    0%, 45% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    65%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes flip-3 {
    0%, 45% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    65%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@-webkit-keyframes squidge-3 {
    35% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    45% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    55%, 50% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    85%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    70% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@keyframes squidge-3 {
    35% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    45% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    55%, 50% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    85%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    70% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@-webkit-keyframes flip-4 {
    0%, 60% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    80%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@keyframes flip-4 {
    0%, 60% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    80%, 100% {
        -webkit-transform: rotate(-180deg);
        transform: rotate(-180deg);
    }
}
@-webkit-keyframes squidge-4 {
    50% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    60% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    70%, 65% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    100%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    85% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}
@keyframes squidge-4 {
    50% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    60% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
    70%, 65% {
        -webkit-transform-origin: center bottom;
        transform-origin: center bottom;
        -webkit-transform: scalex(0.8) scaley(1.4);
        transform: scalex(0.8) scaley(1.4);
    }
    100%, 100% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1) scaley(1);
        transform: scalex(1) scaley(1);
    }
    85% {
        -webkit-transform-origin: center top;
        transform-origin: center top;
        -webkit-transform: scalex(1.3) scaley(0.7);
        transform: scalex(1.3) scaley(0.7);
    }
}

.animate-if.nodata {
    position: absolute;
    left: 50%;
    margin-left: -107px;
}

.animate-if.ng-animate {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-enter.ng-enter-active,
.animate-if.ng-leave {
    opacity:1;
}

.box-body {
    min-height: 120px;
}

